
#comments_wrapper { width: 100%; margin: 0 auto; }

#comments_wrapper .comments { width: 100%; float: left; text-align: left; color: #666; }
#comments_wrapper .comments .initial { 
    width: 100%; 
    float: left; 
    padding: 15px; 
    border: 4px solid #ddd; 
    background: #fff; 
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5); 
    -moz-transition: 0.3s linear; 
    -webkit-transition: 0.3s linear; 
}
#comments_wrapper .comments .initial img { float: left; margin: 0 0; }
#comments_wrapper .comments .initial a { float: right; margin-right: 10px; }
#comments_wrapper .comments .initial span { margin: 10px 15px; float: left; }
#comments_wrapper .comments .initial p { width: 100%; float: left; line-height: 1.7em; }

#comments_wrapper .comments .reply { 
    margin-top:-15px;
    margin-bottom:0px;
    float: left; 
    padding: 15px; 
    border: 4px solid #ff664a; 
    background: #f7f7f7; 
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);  
    -moz-transition: 0.3s linear; 
    -webkit-transition: 0.3s linear; 
}
#comments_wrapper .comments .reply img { float: left; margin: 0 0; }
#comments_wrapper .comments .reply a { float: right; margin-right: 10px; }
#comments_wrapper .comments .reply span { margin: 10px 15px; float: left; }
#comments_wrapper .comments .reply p { width: 100%; float: left; line-height: 1.7em; }

.level1 {
    margin-right:5px;
    margin-left:10px;     
}

.level2 {
    margin-right:10px;
    margin-left:20px;     
}

.level3 {
    margin-right:15px;
    margin-left:30px;     
}

.level4 {
    margin-right:20px;
    margin-left:40px;     
}

.level5 {
    margin-right:25px;
    margin-left:50px;     
}
